#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#nprogress .bar {
  background: #7e9cff !important; //自定义颜色
}
a{
  text-decoration: none;
  cursor: pointer;
  outline:none;
}
ol, ul {
  list-style: none;
  padding: 0;
}
input,
button,
select,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

