[data-theme="light"] {
  --body-background: #efefef;
  --text-color:  #333333;
  --primary-color: #3D79C4;
  --danger-color: #E3524E;
  --warning-color: #ffa94e;
  --main-background: #f7f8fa;
  --router-background:#ffffff;
  --top-background: #ffffff;
  --top-color: rgba(0, 0, 0, .65);
  --left-background: #ffffff;
  --left-border-right-background: #eeeff1;
  --top-border-bottom-background: #eeeff1;
  --tab-border-bottom-active-background: #fd8c73;
}